version: 2
updates:
  - package-ecosystem: "github-actions"
    directory: "/"
    schedule:
      interval: "weekly"
      day: "saturday"
      time: "04:00"
    reviewers:
      - "five82"
    labels:
      - "dependencies"
    commit-message:
      prefix: "ci"

  - package-ecosystem: "gomod"
    directory: "/"
    schedule:
      interval: "weekly"
      day: "saturday"
      time: "04:00"
    open-pull-requests-limit: 10
    reviewers:
      - "five82"
    labels:
      - "dependencies"
    commit-message:
      prefix: "deps"
      include: "scope"
